<h1 mat-dialog-title>

    Add new player</h1>
<div mat-dialog-content class="dialog">
    <p>Please enter the name of a player</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name"> </mat-form-field>
    <div class="img">
        <img (click)="selectAvatar(picture)" class="profil-picture" *ngFor="let picture of allProfilePictures" src="assets/img/profile/{{ picture }} ">
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button class="add" mat-button [disabled]="name.length && pictureSrc.length == 0" [mat-dialog-close]="{name,pictureSrc}" cdkFocusInitial>Add Player</button>
</div>