.dialog {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
}

.profil-picture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    &:hover {
        transition: all 225ms ease-in-out;
        filter: brightness(1.15);
    }
}

.add {
    color: blue;
}