<h1 mat-dialog-title>
    Game Info</h1>
<div mat-dialog-content>
    <p>Ring of Fire is a classic drinking game with Jass cards. The game can be started with two players. If we alternate drawing a card according to its value, a different rule for drinking will be displayed in the box below. <br> When inviting, the link
        can be copied so that everyone can play on their cell phone as it is online multiplayer.</p>
</div>

<h2>Have Fun 😄 </h2>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>

</div>